.Hobby{

    padding: 20px;
    margin-bottom: 50px;
    transition: 2s ease-in-out;
}
.Hobby img{
    width: 100px;
    height: auto;
    text-align: center;
}
.Hobby h3,.Hobby h5{
    text-align: center;
}