@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;600;900&family=Syne:wght@400;500;600;700&family=Ubuntu+Mono&display=swap');
:root{
  --Button: #5A0E70;
}
body{
  padding:0;
  margin:0;
  background-image:linear-gradient(180deg,#0F1637,#270F1E );
  background-attachment: fixed;

  background-repeat: no-repeat;
}
